.background-image {
  background-image: url(../img/pills.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:100vh;
  padding: 0;
  margin: 0;
}
.background-imageA {
  background-image: url(../img/websites.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 70px;
  height:65px
  padding: 0;
  margin: 0px 0px 0px 15px;
}
.background-imageB {
  background-image: url(../img/fb.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 40px;
  height:35px
  padding: 0;
  margin: 0px 0px 0px 15px;
}
.background-imageC {
  background-image: url(../img/ytb.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;

  width: 40px;
  height:35px
  padding: 0;
  margin: 0px 0px 0px 15px;
}
