.background-image {
  background-image: url(../img/pills.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:100vh;
  padding: 0;
  margin: 0;
}
.background-image0 {
  background-image: url(../img/parasito.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:50px
  padding: 0;
  margin: 0;
}
.background-image1 {
  background-image: url(../img/microbio.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:50px;
  padding: 0;
  margin: 0;
}
.background-image2 {
  background-image: url(../img/immuno.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:50px
  padding: 0;
  margin: 0;
}
.background-image3 {
  background-image: url(../img/hemato.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:50px
  padding: 0;
  margin: 0;
}
.background-image4 {
  background-image: url(../img/biochimie.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:50px
  padding: 0;
  margin: 0;
}
#select-h3:hover{background-color: azure; opacity: 85%;}
